<%- include('./layouts/header.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_navbar.html -->
  <%- include('./layouts/nav.ejs') %>
  <!-- partial -->
  <style>
    .order-details td {
        padding: 10px; /* Adjust the padding value as needed */
    }
</style>

  <div class="main-panel">
    <div class="content-wrapper">

      <div class="row" id="toload">
        <div class="col-12 grid-margin">
          <div class="card">

            <div class="col-md-6">
              
              <input type="text" class="form-control" id="searchInput" placeholder="Search by product name" oninput="searchUsers(this.value)" value="<%= searchQuery %>">
              

            </div>
           
            <div class="table-responsive" id="blok">
              <table class="order-details">
                <thead>
                  <tr>
                      <th>Order Id</th>
                      <th>Order Date</th>
                      <th>Total</th>
                      <th>Product</th>
                      <th>Name</th>
                      
                      <th>Email</th>
                      <th>Payment option</th>
                      <th>Action</th>
                  </tr>
              </thead>
                <tbody>
                  <% orders.forEach(order => { %>
                      <tr>
                        <td rowspan="<%= order.Products.length %>"><%= order._id %></td>
                          <td rowspan="<%= order.Products.length %>"><%= new Date(order.date).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                          <td rowspan="<%= order.Products.length %>"><%= order.total %></td>
              
                          <% order.Products.forEach((product, index) => { %>
                              <% if (index !== 0) { %>
                                  <tr>
                              <% } %>
                              <td>
                                  <a href="/productdetails?id=<%=product.products._id%>">
                                      <img src="<%= product.products.pictures[0].replace('public', '') %>" alt="<%= product.name %>" style="height:20vh">
                                  </a>
                              </td>
                              <td><%= product.name %></td>
                              
                              <td><%= order.user.email %></td>
                              <td><%= order.paymentMode %></td>
                              <td>
                                <select onchange="updateProductStatus('<%= order._id %>', '<%= product._id %>','<%= product.reason %>', this.value)">
                                    <option value="placed" <%= product.orderStatus === 'placed' ? 'selected' : '' %>>Placed</option>
                                    <option value="shipped" <%= product.orderStatus === 'shipped' ? 'selected' : '' %>>Shipped</option>
                                    <option value="delivered" <%= product.orderStatus === 'delivered' ? 'selected' : '' %>>Delivered</option>
                                    <option value="request return" <%= product.orderStatus === 'request return' ? 'selected' : '' %>>Request Return</option>
                                    <option value="returned" <%= product.orderStatus === 'returned' ? 'selected' : '' %>>Returned</option>
                                    <option value="request cancellation" <%= product.orderStatus === 'request cancellation' ? 'selected' : '' %>>Request Cancellation</option>
                                    <option value="cancelled" <%= product.orderStatus === 'cancelled' ? 'selected' : '' %>>Cancelled</option>
                                </select>
                                <a href='/admin/orderdetails?orderId=<%= order._id %>&productId=<%= product._id %>&email=<%= order.user.email %>' class="button-link">
                                  <button style="margin-top: 5px;">Order Details</button>
                              </a>
                            </td>
                              <% if (index !== 0) { %>
                                  </tr>
                              <% } %>
                          <% }); %>
                      </tr>
                  <% }); %>
              </tbody>
            </table>
            </div>

            <!-- Pagination -->
           
            <nav aria-label="Page navigation" >
              <ul class="pagination justify-content-center">
                <% if (page > 1) { %>
                  <li class="page-item">
                    <a class="page-link page-link-prev" href="?page=<%= page - 1 %>" aria-label="Previous">
                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                    </a>
                  </li>
                <% } else { %>
                  <li class="page-item disabled">
                    <span class="page-link page-link-prev" aria-label="Previous" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                    </span>
                  </li>
                <% } %>

                <% for (let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item <%= page === i ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                  </li>
                <% } %>

                <% if (page < totalPages) { %>
                  <li class="page-item">
                    <a class="page-link page-link-next" href="?page=<%= page + 1 %>" aria-label="Next">
                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                    </a>
                  </li>
                <% } else { %>
                  <li class="page-item disabled">
                    <span class="page-link page-link-next" aria-label="Next" tabindex="-1" aria-disabled="true">
                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                    </span>
                  </li>
                <% } %>
              </ul>
            </nav>
           
            <!-- End Pagination -->


    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Aura beauty</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script>
   function updateProductStatus(orderId, productId,reason, status) {
        console.log('Function called with orderId:', orderId, 'productId:', productId, 'status:', status);

        const formData = { orderId, productId, status };
    fetch(`/admin/orders/status`, {
        method: 'POST', // Use POST or PATCH for updating data
        headers: {
            'Content-Type': 'application/json',
        },
         body: JSON.stringify(formData),
    })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            // You can handle the response if needed
            return response.json();
        })
        .then(data => {
            // Update the button text and class
 
         console.log(data.success)
            
           
        })
        .catch(error => {
            console.error('Error:', error);
        });

  }


  function searchUsers(search)
  {
    $('#toload').load(`/admin/orders?search=${search} #toload`)
  }
</script>


<%- include('./layouts/footer.ejs') %>
