<%- include('./layouts/header.ejs') %>

<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%- include('./layouts/nav.ejs') %>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">

            <form class="forms-sample" id="editForm">
                <div class="form-group row">
                    <label for="categoryName" class="col-sm-3 col-form-label">Category Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="categoryName" name="name" placeholder="Category Name" value="<%=editcat.name%>" required>
                        <small id="nameError" class="text-danger"></small>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="categoryDescription" class="col-sm-3 col-form-label">Category Description</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="categoryDescription" name="description" placeholder="Category description" value="<%=editcat.description%>" required>
                        <small id="descriptionError" class="text-danger"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productOffers" class="col-sm-3 col-form-label">Offers</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="productOffers" name="offers">
                            <option value="">Select an offer</option>
                            <% offers.forEach(offer => { %>
                           
                                <option value="<%= offer.name %>" <% if (editcat && editcat.offername == offer.name) { %>selected<% } %>><%= offer.name %></option>
                            <% }); %>
                        </select>
                        <small id="offersError" class="text-danger"></small>
                    </div>
                </div>
    
                <button type="button" class="btn btn-primary mr-2" onclick="validateAndSubmit()">Submit</button>
                <button type="button" class="btn btn-dark">Cancel</button>
                <p class="text-success"> <%=message%></p>
            </form>
                    
                      
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Aura Beauty</span>
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<%- include('./layouts/footer.ejs') %>

<script>
   function validateAndSubmit() {
    
    const categoryNameInput = document.getElementById('categoryName');
    const categoryDescriptionInput = document.getElementById('categoryDescription');
    const nameError = document.getElementById('nameError');
    const descriptionError = document.getElementById('descriptionError');

    const categoryName = categoryNameInput.value.trim();
    const categoryDescription = categoryDescriptionInput.value.trim();

   
    const nameRegex = /^[a-zA-Z]+$/;

    let isValid = true;

    if ( categoryName === '') {
        nameError.textContent = 'Category name should contain only letters and cannot be empty.';
        categoryNameInput.focus();
        isValid = false;
    } else {
        nameError.textContent = '';
    }

    if (categoryDescription === '') {
        descriptionError.textContent = 'Category description cannot be empty.';
        categoryDescriptionInput.focus();
        isValid = false;
    } else {
        descriptionError.textContent = '';
    }
    const productOffersInput = document.getElementById('productOffers');
    const productOffers = productOffersInput.value;


    if (isValid) {
        
        fetch('/admin/categories/editpost?_id=<%=editcat._id%>', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: categoryName,
                description: categoryDescription,
                offers:productOffers
            }),
        })
        .then(response => {
           
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
          
            if(data.success==true)
            {
                window.location.href=`/admin/categories`
            }
            else{
               
                const encodedMessage = encodeURIComponent(data.message); // jQuery load method with a URL that contains special characters.  jQuery treating the URL as a selector and not properly handling the special characters.
               const url = `/admin/categories/edit?message=${encodedMessage}&categoryId=${data.catid} #editForm`;

               $('#editForm').load(url);
                
            }
           
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }
}
</script>