<%-include ('./layouts/header.ejs') %>
<style>
    .sales-report-button {
                background-color: #007bff; 
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
              }
              
              .sales-report-button i {
                margin-right: 10px;
              }
</style>



<!-- End layout styles -->
<link rel="shortcut icon" href="/admin_assets/assets/images/favicon.png" />
      <div class="container-fluid page-body-wrapper ">
        <!-- partial:partials/_navbar.html -->
        <%-include ('./layouts/nav.ejs') %>
        <!-- partial -->
        <div class="main-panel ">
          <div class="content-wrapper">
            
            <div class="row ">
              <div class="col-sm-4 grid-margin ">
                <div class="card">
                  <div class="card-body">
                    <h5>Revenue</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">₹<%=revenuelen%></h2>
                         
                        </div>
                        <h6 class="text-muted font-weight-normal ">Revenue based on orders placed and delivered</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Products</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0"><%=prodlen%></h2>
                          
                        </div>
                        <h6 class="text-muted font-weight-normal">In <%=catlen%> categories</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Pending orders</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">₹<%=pendlen%></h2>
                         
                        </div>
                        <h6 class="text-muted font-weight-normal">Orders yet to be delivered</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Sales</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0"><%=saleslen%></h2>
                          
                        </div>
                        <h6 class="text-muted font-weight-normal"> Totals number of sales</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Users</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0"><%=totalUsers%></h2>
                         
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of users registered</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
              <div class="row">
                <!-- Area Chart -->
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Sales Statistics</h4>
                          <canvas id="areaChart" style="height:250px"></canvas>
                          <div class="toggle-buttons">
                              <button class="btn btn-primary toggle-chart" data-chart-type="yearly">Yearly</button>
                              <button class="btn btn-primary toggle-chart" data-chart-type="monthly">Monthly</button>
                          </div>
                      </div>
                  </div>
              </div>

                <!-- Bar Chart -->
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Yearly Profit</h4>
                            <canvas id="barChart" style="height: 230px"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Transaction History</h4>
                    <canvas id="transaction-history" class="transaction-chart"></canvas>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Razorpay Payment</h6>
                        
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">₹<%=razoramount%></h6>
                      </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">COD Payment</h6>
                        
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">₹<%=codamount%></h6>
                      </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Wallet Payment</h6>
                        
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">₹<%=walamount%></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card table-responsive">
                  <div class="card-body">
                    <h4>Pending orders</h4>
                    
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Total</th>
                                <th>Name</th>
                                <th>Payment option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                                <tr>
                                    <td><%= order._id %></td>
                                    <td><%= new Date(order.date).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                    <td><%= order.total %></td>
                                    <td><%= order.user.Fname %></td>
                                    <td><%= order.paymentMode %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation" >
                      <ul class="pagination justify-content-center">
                        <% if (page > 1) { %>
                          <li class="page-item">
                            <a class="page-link page-link-prev" href="?page=<%= page - 1 %>" aria-label="Previous">
                              <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                          </li>
                        <% } else { %>
                          <li class="page-item disabled">
                            <span class="page-link page-link-prev" aria-label="Previous" tabindex="-1" aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </span>
                          </li>
                        <% } %>
        
                        <% for (let i = 1; i <= totalPages; i++) { %>
                          <li class="page-item <%= page === i ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                          </li>
                        <% } %>
        
                        <% if (page < totalPages) { %>
                          <li class="page-item">
                            <a class="page-link page-link-next" href="?page=<%= page + 1 %>" aria-label="Next">
                              Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                          </li>
                        <% } else { %>
                          <li class="page-item disabled">
                            <span class="page-link page-link-next" aria-label="Next" tabindex="-1" aria-disabled="true">
                              Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </span>
                          </li>
                        <% } %>
                      </ul>
                      
                    </nav>
                   
                  </div>
                </div>
              </div>
             
              
              <a href="/admin/salesreport" class="sales-report-link">
                <button class="sales-report-button">
                  <i class="mdi mdi-clipboard-text"></i>
                  Sales Report
                </button>
              </a>

        </div><!-- content-wrapper ends -->
            </div>
           
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Aura Beauty</span>
               </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
   
    <!-- endinject -->
  
    
    <%-include ('./layouts/footer.ejs') %>

    <script>
      $(function() {
  /* ChartJS
   * -------
   * Data and config for chartjs
   */
  'use strict';
  var data = {
    labels: ["2021", "2022", "2023", "2024", "2025", "2026"],
    datasets: [{
      label: '# of Votes',
      data: <%= JSON.stringify(profit) %>,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1,
      fill: false
    }]
  };
  var multiLineData = {
    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
    datasets: [{
        label: 'Dataset 1',
        data: [12, 19, 3, 5, 2, 3],
        borderColor: [
          '#587ce4'
        ],
        borderWidth: 2,
        fill: false
      },
      {
        label: 'Dataset 2',
        data: [5, 23, 7, 12, 42, 23],
        borderColor: [
          '#ede190'
        ],
        borderWidth: 2,
        fill: false
      },
      {
        label: 'Dataset 3',
        data: [15, 10, 21, 32, 12, 33],
        borderColor: [
          '#f44252'
        ],
        borderWidth: 2,
        fill: false
      }
    ]
  };
  var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }],
      xAxes: [{
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }
  };

  
  var doughnutPieData = {
    datasets: [{
      data: [30, 40, 30],
      backgroundColor: [
        'rgba(255, 99, 132, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
      'Pink',
      'Blue',
      'Yellow',
    ]
  };
  var doughnutPieOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };

  
  var multiAreaData = {
  labels: {
    yearly: ["2021", "2022", "2023", "2024", "2025"],
    monthly: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
  },
  datasets: {
    yearly: [
      {
        label: 'Sales',
        data: <%= JSON.stringify(yeardata) %>,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1,
        fill: true,
      },
      {
        label: 'Users',
        data:  <%= JSON.stringify(yearuser) %>,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1,
        fill: true,
      }
    ],
    monthly: [
      {
        label: 'Sales',
        data:  <%= JSON.stringify(monthorder) %>, 
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1,
        fill: true,
      },
      {
        label: 'Users',
        data:  <%= JSON.stringify(monthuser) %>, 
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1,
        fill: true,
      }
      
    ]
  }
};

var activeChartType = 'yearly'; // Initial active dataset type

// Function to update the chart based on the active dataset type
function updateChart() {
  var ctx = document.getElementById('areaChart').getContext('2d');
  var activeDatasets = multiAreaData.datasets[activeChartType];

  var chartData = {
    labels: multiAreaData.labels[activeChartType],
    datasets: activeDatasets.map(dataset => ({
      label: dataset.label,
      data: dataset.data,
      backgroundColor: dataset.backgroundColor,
      borderColor: dataset.borderColor,
      borderWidth: dataset.borderWidth,
      fill: dataset.fill,
    }))
  };

  if (window.myChart) {
    window.myChart.destroy(); // Destroy the existing chart instance
  }

  window.myChart = new Chart(ctx, {
    type: 'line',
    data: chartData,
    options: {
      // Add any additional chart options as needed
    }
  });
}

// Event listener for toggle buttons
document.querySelectorAll('.toggle-chart').forEach(button => {
  button.addEventListener('click', function () {
    activeChartType = this.dataset.chartType;
    updateChart();
  });
});

// Initial chart setup
updateChart();

var multiAreaOptions = {
  plugins: {
    filler: {
      propagate: true
    }
  },
  elements: {
    point: {
      radius: 0
    }
  },
  scales: {
    xAxes: [{
      gridLines: {
        display: false
      }
    }],
    yAxes: [{
      gridLines: {
        display: false
      }
    }]
  }
}

 
  // Get context with jQuery - using jQuery's .get() method.
  if ($("#barChart").length) {
    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    // This will get the first returned node in the jQuery collection.
    var barChart = new Chart(barChartCanvas, {
      type: 'bar',
      data: data,
      options: options
    });
  }

 
  if ($("#areachart-multi").length) {
    var multiAreaCanvas = $("#areachart-multi").get(0).getContext("2d");
    var multiAreaChart = new Chart(multiAreaCanvas, {
      type: 'line',
      data: multiAreaData,
      options: multiAreaOptions
    });
  }

  if ($("#doughnutChart").length) {
    var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
    var doughnutChart = new Chart(doughnutChartCanvas, {
      type: 'doughnut',
      data: doughnutPieData,
      options: doughnutPieOptions
    });
  }

  if ($("#pieChart").length) {
    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: doughnutPieData,
      options: doughnutPieOptions
    });
  }

 
 

  if ($("#browserTrafficChart").length) {
    var doughnutChartCanvas = $("#browserTrafficChart").get(0).getContext("2d");
    var doughnutChart = new Chart(doughnutChartCanvas, {
      type: 'doughnut',
      data: browserTrafficData,
      options: doughnutPieOptions
    });
  }
});

//payment chart 
if ($("#transaction-history").length) {
      
      var areaData = {
        labels: ["Wallet", "COD","Razorpay"],
        datasets: [{
            data:<%= JSON.stringify(payment) %>,
            backgroundColor: [
              "#111111","#00d25b","#ffab00"
            ]
          }
        ]
      };
      var areaOptions = {
        responsive: true,
        maintainAspectRatio: true,
        segmentShowStroke: false,
        cutoutPercentage: 70,
        elements: {
          arc: {
              borderWidth: 0
          }
        },      
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        }
      }
      var transactionhistoryChartPlugins = {
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;
      
          ctx.restore();
          var fontSize = 1;
          ctx.font = fontSize + "rem sans-serif";
          ctx.textAlign = 'left';
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#ffffff";
      
          var text = <%=totalpayments%>, 
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2.4;
      
          ctx.fillText(text, textX, textY);

          ctx.restore();
          var fontSize = 0.75;
          ctx.font = fontSize + "rem sans-serif";
          ctx.textAlign = 'left';
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#6c7293";

          var texts = "Total", 
              textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
              textsY = height / 1.7;
      
          ctx.fillText(texts, textsX, textsY);
          ctx.save();
        }
      }
      var transactionhistoryChartCanvas = $("#transaction-history").get(0).getContext("2d");
      var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
        type: 'doughnut',
        data: areaData,
        options: areaOptions,
        plugins: transactionhistoryChartPlugins
      });
    }
   
    </script>