<%- include('./layouts/header.ejs') %>

<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_navbar.html -->
  <%- include('./layouts/nav.ejs') %>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">

      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body" id="toload">
              <div class="row mb-3">
                <div class="col-md-6">
                  <input type="text" class="form-control" id="searchInput" placeholder="Search by name" oninput="searchUsers(this.value)" value="<%= searchQuery %>">
                </div>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>Category</th>
                      <th>Quantity</th>
                      <th>Images</th>
                      <th>Action</th> <!-- New column for buttons -->
                    </tr>
                  </thead>
                  <tbody>
                    <% let i = 1 %>
                    <% products.forEach(product => { %>
                      <tr>
                        <td><%= i %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.category.name %></td>
                        <td><%= product.quantity %></td>
                        <td>
                          <% if (product.pictures && product.pictures.length > 0) { %>
                            <% product.pictures.forEach(image => { %>
                              <% let s=image.replace('public','') %>
                              <img src="<%=s%>" alt="Product Image" style="max-width: 100px; max-height: 100px; margin-right: 5px;">
                            <% }); %>
                          <% } else { %>
                            <!-- Handle case when pictures array is empty -->
                            No images available
                          <% } %>
                          <td>
                            <!-- Edit Button -->
                            <button class="btn btn-danger btn-sm" onclick="showConfirmationModal('Edit', '<%= product._id %>')">Edit</button>
                            
                            <!-- Delete Button -->
                            <button class="btn btn-danger btn-sm" onclick="showConfirmationModal('Delete', '<%= product._id %>')">Delete</button>
                            
                            <!-- Toggle Button -->
                            <button class="btn btn-info btn-sm" onclick="showConfirmationModal('Toggle', '<%= product._id %>', <%= product.active %>)" >
                              <%= product.status=== 'active' ? 'Active' : 'Blocked' %>

                            </button>
                          </td>
                        </tr>
                        <% i++ %>
                      <% }); %>
                    </tbody>            
                </table>
              </div>
              
               <!-- Pagination -->
          
              <nav aria-label="Page navigation" >
                <ul class="pagination justify-content-center">
                  <% if (page > 1) { %>
                    <li class="page-item">
                      <a class="page-link page-link-prev" href="?page=<%= page - 1 %>" aria-label="Previous">
                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                      </a>
                    </li>
                  <% } else { %>
                    <li class="page-item disabled">
                      <span class="page-link page-link-prev" aria-label="Previous" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                      </span>
                    </li>
                  <% } %>
  
                  <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= page === i ? 'active' : '' %>">
                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                  <% } %>
  
                  <% if (page < totalPages) { %>
                    <li class="page-item">
                      <a class="page-link page-link-next" href="?page=<%= page + 1 %>" aria-label="Next">
                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                        <% console.log(page,totalPages) %>
                      </a>
                    </li>
                  <% } else { %>
                    <li class="page-item disabled">
                      <span class="page-link page-link-next" aria-label="Next" tabindex="-1" aria-disabled="true">
                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                      </span>
                    </li>
                  <% } %>
                </ul>
              </nav>
              
              <!-- End Pagination -->
  
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- content-wrapper ends -->

    <!-- Bootstrap Modal for Confirmation -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to <span id="actionText"></span> this product?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="confirmActionBtn">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Aura beauty</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script>
  function showConfirmationModal(action, productId) {
    $('#actionText').text(action);
    $('#confirmationModal').modal('show');

    // Set up the confirm button click event
    $('#confirmActionBtn').off('click').on('click', function () {
      // Perform the action based on the confirmation
      switch (action.toLowerCase()) {
        case 'edit':
          // Redirect to delete route
          window.location.href = `/admin/products/edit?id=${productId}`;
          break;
        case 'delete':
          // Redirect to delete route
          $('#toload').load(`/admin/products/delete?id=${productId} #toload`);
          break;
        case 'toggle':
          // Redirect to toggle route
          $('#toload').load(`/admin/products/toggle?id=${productId} #toload`);
          break;
        // Add more cases for other actions if needed
        default:
          console.error(`Unknown action: ${action}`);
      }

      // Hide the modal after confirming
      $('#confirmationModal').modal('hide');
    });
  }

  
  function searchUsers(searchvalue) {
 $('#toload').load(`/admin/products?search=${searchvalue} #toload`)}
</script>

<%- include('./layouts/footer.ejs') %>
