<%- include('../layouts/header') %>

<body>
    <div class="page-wrapper">
        <header class="header header-5">
            <div class="header-middle sticky-header">
                <div class="container-fluid">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="/assets/images/demos/demo-5/logo.png" alt="Aura Logo" width="115" height="35">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" >Home</a>
                                </li>
                                <li>
                                    <a class="sf-with-ul" href="/category">Shop</a>
                                    <ul>
                                        <% categories.forEach(category => { %>
                                            <li>
                                                <a href="/category?cat=<%= category.name %>"><%= category.name %></a>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/about" >About</a>

                                </li>
                               
                                
                               
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                   

                    <div class="header-right">
                       
                        <a href="/wishlist" class="wishlist-link" <%= ses ? '' : 'hidden' %>>
                            <i class="icon-heart-o"></i>
                        </a>
                        
                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="fa-regular fa-user"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right d-flex" style="background-color:rgba(255, 255, 255, 0.5);justify-content: center;">
                      
                                <div class="dropdown-cart-action">
                                    <a href="/login" class="btn btn-outline-primary-2" <%= ses ? 'hidden' : '' %>>Login</a>
                                    <a href="/account" class="btn btn-outline-primary "   <%= ses ? '' : 'hidden' %>>Account</a>
                                    <a href="/logout" class="btn btn-outline-primary-2 "   <%= ses ? '' : 'hidden' %>>Logout</a>
                                    <a href="/register" class="btn btn-outline-primary-2" <%= ses ? 'hidden' : '' %>><span>Sign in</span><i class="icon-long-arrow-right"></i></a>

                                </div><!-- End .dropdown-cart-total -->
                                
                            </div><!-- End .dropdown-menu -->
                            <p class="greeting-message text-white mb-0" style="white-space: nowrap;">Hello <%=user%></p>
                        </div><!-- End .cart-dropdown -->

                        
                        <a href="/cart" class="wishlist-link" <%= ses ? '' : 'hidden' %>>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container-fluid -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="intro-slider-container mb-0">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav": false, "dots": false}'>
                    <div class="intro-slide" style="background-image: url(assets/images/demos/demo-5/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Mystery Deals</h1><!-- End .intro-title -->
                            
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url(assets/images/demos/demo-5/slider/slide-2.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Limited time only</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Treat your self</h1><!-- End .intro-title -->
                            <div class="intro-text text-white">Up to 50% off</div><!-- End .intro-text -->
                            <a href="category.html" class="btn btn-primary">Shop NOW</a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-theme -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="brands-border owl-carousel owl-simple mb-5" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
                <a href="#" class="brand">
                    <img src="assets/images/brands/1.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="assets/images/brands/2.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="assets/images/brands/3.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="assets/images/brands/4.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="assets/images/brands/5.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="assets/images/brands/6.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="assets/images/brands/7.png" alt="Brand Name">
                </a>
                
           </div>
                <!--  End .owl-carousel -->

            <!-- 1st row -->

            <div class="container">
                <div class="banner-group">
                    <div class="row">
                        <div class="col-md-6 d-flex" style="align-items: center;">
                            <div class="banner banner-border">
                                <a href="#">
                                    <img src="assets/images/demos/demo-5/banners/banner-1.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <!-- <h4 class="banner-subtitle"><a href="#">Trending now</a></h4>End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="#"><span>Skin care</span></a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-primary-2 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6-->

                        <div class="col-md-6" >
                            <div class="banner banner-border-hover">
                                <a href="#">
                                    <img src="assets/images/demos/demo-5/banners/banner-2.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <!-- <h4 class="banner-subtitle"><a href="#">Limited time only.</a></h4>End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="#"><span>Hair Care</span></a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-primary-2 banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->

                            <div class="banner banner-border-hover" style="object-fit: cover;">
                                <a href="#">
                                    <img src="assets/images/demos/demo-5/banners/banner-3.webp" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <!-- <h4 class="banner-subtitle"><a href="#">This week we love...</a></h4>End .banner-subtitle -->
                                    <h3 class="banner-title "><a href="#"><span>Bath <br>& Body</span></a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-primary-2 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .banner-group -->
            </div><!-- End .container -->

           <!-- first row ends -->


            <div class="mb-4"></div><!-- End .mb-6 -->

            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title">Trendy Products</h2><!-- End .title -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="category" data-toggle="tab" href="/category" role="tab" aria-controls="trendy-all-tab" aria-selected="true">All</a>
                        </li>
                        <% categories.forEach(category => { %>
                            <li>
                                <a class="nav-link" id="<%= category.name %>" data-toggle="tab" href="/category?cat=<%= category.name %>" role="tab" aria-controls="<%= category.name %>-tab" aria-selected="false"><%= category.name %></a>
                            </li>
                        <% }); %>
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel" aria-labelledby="trendy-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                           
                            <% for (let i = 0; i < Math.min(products.length, 4); i++) { %>
                                <div class="product product-2">
                                    <figure class="product-media"  style="height:70%;">
                                        <%  let s1=products[i].pictures[0].replace('public','') %>
                                        <%  let s2=products[i].pictures[1].replace('public','') %>
                                        <a href="/productdetails?id=<%=products[i]._id%>" style="display: block; height: 100%;">
                                            <img src="<%=s1 %>" alt="Product image" class="product-image" style="object-fit: cover; height: 100%;">
                                            <img src="<%= s2 %>" alt="Product image" class="product-image-hover" style="object-fit: cover; height: 100%;">
                                            <!-- You can add logic to handle multiple images if needed -->
                                        </a>
                            
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->
                            
                                        <div class="product-action product-action-transparent">
                                            <button class="btn-product btn-cart" id="cart<%=i%>" onclick="addtocart('<%=products[i].name%>','<%=email%>',<%=i%>)">Add to cart</button>
                                          </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
                            
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="<%= products[i].category ? '/category/' + products[i].category._id : '#' %>"><%=products[i].category.name%></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="<%= '/product/' + products[i]._id %>"><%= products[i].name %></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            ₹<%= products[i].price %>
                                        </div><!-- End .product-price -->
                            
                                        <!-- Other product details can be added here -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            <% } %>
                            
                            
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-women-tab" role="tabpanel" aria-labelledby="trendy-women-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-men-tab" role="tabpanel" aria-labelledby="trendy-men-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-access-tab" role="tabpanel" aria-labelledby="trendy-access-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="intro-slider-container mb-0">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav": false, "dots": false}'>
                    <div class="intro-slide" style="background-image: url(assets/images/demos/demo-5/slider/sliderlast.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Mystery Deals</h1><!-- End .intro-title -->
                            
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url(assets/images/demos/demo-5/slider/slide-2.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Limited time only</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Treat your self</h1><!-- End .intro-title -->
                            <div class="intro-text text-white">Up to 50% off</div><!-- End .intro-text -->
                            <a href="category.html" class="btn btn-primary">Shop NOW</a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-theme -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <script> 
            function addtocart(prodname,email,i)
                {
                    const qtyValue = 1;
               
                fetch(`/productaddtocart?name=${prodname}&email=${email}&qtyValue=${qtyValue}`, {
                method: 'POST', // Use POST or PATCH for updating data
                headers: {
                'Content-Type': 'application/json',
                 },
            
        }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                // You can handle the response if needed
                return response.json();
            })
            .then(data => {
                // Update the button text and class
                
                
                document.getElementById(`cart${i}`).textContent = 'Added to Cart';
                
                setTimeout(() => {
                  document.getElementById(`cart${i}`).textContent = 'Add to Cart';
                
            }, 1000);
                
                
               
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }</script>

            <%- include('../layouts/footer') %>
            <%- include('../layouts/Login/LoginMob') %>
   