<%- include('../layouts/header') %>
<%- include('../layouts/Login/loginHeader') %>

<main class="main">
        	
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
        <aside class="col-md-4 col-lg-3">
	                			
            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " id="tab-dashboard-link" href="/account" role="tab" aria-controls="tab-dashboard" aria-selected="true">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="tab-orders-link" href="/orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-address-link" href="/address" role="tab" aria-controls="tab-address" aria-selected="false">Addresses</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#" id="sign-out-link">Sign Out</a>
                </li>
            </ul>
            
        
    </aside><!-- End .col-lg-3 -->
    <div class="col-md-8 col-lg-9">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
        <table class="order-details" id="tabletoload">
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Total</th>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <tr>
                        <td rowspan="<%= order.Products.length %>"><%= new Date(order.date).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>


                        <td rowspan="<%= order.Products.length %>"><%= order.total %></td>
                        <% order.Products.forEach((product, index) => { %>
                            <% if (index !== 0) { %>
                                <tr>
                            <% } %>
                            <td>
                                <a href="/productdetails?id=<%=product.products._id%>">
                                    <img src="<%= product.products.pictures[0].replace('public', '') %>" alt="<%= product.name %>" style="width:20vh">
                                </a>
                            </td>
                            <td><%= product.name %></td>
                            <td><%= product.price %></td>
                            <td><%= product.quantity %></td>
                            <td><%= product.total %></td>
                            <td>
                                <% if (['placed', 'shipped'].includes(product.orderStatus)) { %>
                                    <!-- Cancel button for placed or shipped products -->
                                    <button onclick="cancelOrder('<%= order._id %>', '<%= product._id %>')" style="margin-bottom: 5px;">Cancel</button>
                                <% } else if (['out for delivery', 'delivered'].includes(product.orderStatus)) { %>
                                    <!-- Return button for out for delivery or delivered products -->
                                    <button onclick="returnOrder('<%= order._id %>', '<%= product._id %>')" style="margin-bottom: 5px;">Return</button>
                                <% } else if (['request return', 'request cancellation','returned','cancelled'].includes(product.orderStatus)) { %>
                                    <!-- Display the order status itself as the button -->
                                    <button disabled style="margin-bottom: 5px;"><%= product.orderStatus %></button>
                                <% } %>
                                <a href='/orderdetails?orderId=<%= order._id %>&productId=<%= product._id %>' class="button-link">
                                    <button style="margin-bottom: 5px;">Order details</button>
                                  </a>
                            </td>
                            <% if (index !== 0) { %>
                                </tr>
                            <% } %>
                        <% }); %>
                    </tr>
                <% }); %>
            </tbody>
        </table>

    </div><!-- .End .tab-pane -->

</div><!-- End .col-lg-9 -->
</div><!-- End .row -->
</div><!-- End .container -->
</div><!-- End .dashboard -->
</div><!-- End .page-content -->
</main><!-- End .main -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function cancelOrder(orderId, productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'Do you really want to cancel this order?',
        icon: 'warning',
        input: 'text',
        inputLabel: 'Reason for cancellation',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, cancel it!'
    }).then((result) => {
        if (result.isConfirmed) {
            const reason = result.value;

            fetch(`/orders/status`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    newStatus: 'request cancellation',
                    orderId,
                    productId,
                    reason, // Include the reason in the request
                }),
            })
                .then(response => response.json())
                .then(data => {
                    $('#tabletoload').load('/orders #tabletoload');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });
}

function returnOrder(orderId, productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'Do you really want to return this product?',
        icon: 'warning',
        input: 'text',
        inputLabel: 'Reason for return',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, return it!'
    }).then((result) => {
        if (result.isConfirmed) {
            const reason = result.value;

            fetch(`/orders/status`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    newStatus: 'request return',
                    orderId,
                    productId,
                    reason, // Include the reason in the request
                }),
            })
                .then(response => response.json())
                .then(data => {
                    $('#tabletoload').load('/orders #tabletoload');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });
}
</script>
<%- include('../layouts/footer') %>
<%- include('../layouts/Login/LoginMob') %>
