<%- include('../layouts/header') %>    
<%- include('../layouts/Login/loginHeader') %>

    <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#"><%=products.category.name%></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><%=products.name%></li>
                       
                    </ol>

                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->


<div class="page-content">
    <div class="container">
        <div class="product-details-top mb-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-gallery product-gallery-vertical">
                        <div class="row">
                            <figure class="product-main-image" id="mainimage">
                               
                                <img id="product-zoom" src="<%= (products.pictures[0].replace('public', '')) %>" data-zoom-image="<%= (products.pictures[0].replace('public', '')) %>">

                        
                                <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                    <i class="icon-arrows"></i>
                                </a>
                            </figure><!-- End .product-main-image -->
                        
                            <!-- Additional images from the pictures array -->
                            <div id="product-zoom-gallery" class="product-image-gallery">
                                <% for (let i = 0; i < Math.min(products.pictures.length, 4); i++) { %>
                                    <% let additionalImage = products.pictures[i].replace('public', ''); %>
                        
                                    <a class="product-gallery-item" href="#" data-image="<%= additionalImage %>" data-zoom-image="<%= additionalImage %>" >
                                        <img src="<%= additionalImage %>" alt="product side">
                                    </a>
                                <% } %> 
                            </div><!-- End .product-image-gallery -->
                        </div><!-- End .row -->


                       



                    </div><!-- End .product-gallery -->
                </div><!-- End .col-md-6 -->

                <div class="col-md-6">
                    <div class="product-details product-details-centered">
                        <h1 class="product-title"><%=products.name%></h1><!-- End .product-title -->

                        

                        <div class="product-price">
                            ₹<%=products.price%>
                        </div><!-- End .product-price -->

                        <div class="product-content">
                            <p><%=products.description%></p>
                        </div><!-- End .product-content -->

                        

                        <div class="product-details-action">
                            <div class="details-action-col">
                                <div class="product-details-quantity">
                                    <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                </div><!-- End .product-details-quantity -->
                                <button class="btn-product btn-cart" onclick="addtocart('<%=products.name%>','<%=email%>')">Add to cart</button>
                               
                            </div><!-- End .details-action-col -->

                            <div class="details-action-wrapper">
                                <a href="#" class="btn-product btn-wishlist" title="Wishlist" onclick="addtowish('<%=products.name%>','<%=email%>')">Add to Wishlist</a>
                               
                            </div><!-- End .details-action-wrapper -->
                        </div><!-- End .product-details-action -->

                        <div class="product-details-footer">
                            <div class="product-cat">
                                <span>Category:</span>
                                <a href="/category?cat=<%= products.category.name %>"><%= products.category.name %></a>
                                
                            </div><!-- End .product-cat -->

                            <div class="social-icons social-icons-sm">
                                <span class="social-label">Share:</span>
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                
                            </div>
                        </div><!-- End .product-details-footer -->
                    </div><!-- End .product-details -->
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .product-details-top -->


            
        </main><!-- End .main -->

        <%- include('../layouts/footer') %>

        <script>
            // Get the value of the input with id "qty"
           
            function addtocart(prodname,email)
            {
                const qtyValue = document.getElementById('qty').value;
           
            fetch(`/productaddtocart?name=${prodname}&email=${email}&qtyValue=${qtyValue}`, {
            method: 'POST', // Use POST or PATCH for updating data
            headers: {
            'Content-Type': 'application/json',
             },
        
    }).then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            // You can handle the response if needed
            return response.json();
        })
        .then(data => {
            // Update the button text and class
            
            
            document.querySelector('.btn-cart').textContent = 'Added to Cart';
            
            setTimeout(() => {
            document.querySelector('.btn-cart').textContent = 'Add to Cart';
            
        }, 1500);
            
            
           
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function addtowish(prodname,email)
            {
                
           
            fetch(`/productaddtowishlist?name=${prodname}&email=${email}`, {
            method: 'POST', // Use POST or PATCH for updating data
            headers: {
            'Content-Type': 'application/json',
             },
        
    }).then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
           
            return response.json();
        })
        .then(data => {
            
            if(data.success==true)
            {
                document.querySelector('.btn-wishlist').textContent = 'Added to Wishlist';
            
            setTimeout(() => {
            document.querySelector('.btn-wishlist').textContent = 'Add to Wishlist';
            
        }, 1500);
            }

            else{
                document.querySelector('.btn-wishlist').textContent = 'Already Added';
            
            setTimeout(() => {
            document.querySelector('.btn-wishlist').textContent = 'Add to Wishlist';
            
        }, 1500);

            }
           
            
            
           
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


       

        document.addEventListener('DOMContentLoaded', function () {
        // Get the main product image and product gallery
        const mainImage = document.getElementById('product-zoom');
        const productGalleryItems = document.querySelectorAll('.product-gallery-item');

        // Add click event listener to each product gallery item
        productGalleryItems.forEach(item => {
            item.addEventListener('click', function (event) {
                event.preventDefault();

                // Get the clicked image source
                const clickedImage = this.getAttribute('data-image');

                // Set the main product image source to the clicked image
                mainImage.src = clickedImage;
                mainImage.setAttribute('data-zoom-image', clickedImage);

                // Remove the 'active' class from all items
                productGalleryItems.forEach(galleryItem => {
                    galleryItem.classList.remove('active');
                });

                // Add the 'active' class to the clicked item
                this.classList.add('active');
            });
        });

        
    });


            
        </script>
           <%- include('../layouts/footer') %>
           <%- include('../layouts/Login/LoginMob') %>