
<%- include('../layouts/header') %>
<%- include('../layouts/Login/loginHeader') %>  

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="row">
            <!-- Left Sidebar -->
            <aside class="col-md-4 col-lg-3">
                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link " id="tab-dashboard-link" href="/account" role="tab" aria-controls="tab-dashboard" aria-selected="true">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-orders-link" href="/orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="tab-address-link" href="/address" role="tab" aria-controls="tab-address" aria-selected="false">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-address-link" href="/wallet" role="tab" aria-controls="tab-address" aria-selected="false">Wallet</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" id="sign-out-link">Sign Out</a>
                    </li>
                </ul>
            </aside><!-- End .col-lg-3 -->
            <div class="card mt-5 ml-5" style="width: 50rem; overflow: hidden;">
                <div style="position: relative;">
                    <img src="/assets/images/banners/pages/wallet.jpeg" class="card-img-top" style="object-fit: cover; height: 40vh; width: 100%;">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff;">
                        <h2 style="margin-bottom: 0; color: black;">Wallet Details</h2>
                    </div>
                </div>
                <div class="card-body" style="display: flex;justify-content: center;align-items: center;">
                    
                    <p class="card-text">Your current wallet balance is: ₹<span style="font-weight: bold;"><%= myuser.wallet %></span></p>
                </div>
                
                <div class="card-body" style="display: flex;justify-content: center;align-items: center;">
                    <!-- Add a button to add money -->
                    <button class="btn btn-outline-primary-2 mr-2" onclick="addmoney()">Add Money</button>
                    <a href="/wallethistory" class="btn btn-outline-primary-2 ml-2">Wallet History</a>
            
                </div>
                <div class="card-body" style="display: flex;justify-content: center;align-items: center;">
                  
                    
            
                    <!-- You can customize the appearance of the card and content according to your design -->
                </div>
            </div>
            
        </div><!-- End .row -->
    </div><!-- End .container -->
</main>
<div class="modal fade" id="walletModal" tabindex="-1" aria-labelledby="walletModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm"> <!-- Use modal-sm for small size -->
      <div class="modal-content" >
        <div class="modal-header" style="display: flex;flex-direction: column; align-items: center;">
          <h5 class="modal-title " id="walletModalLabel">Add Money to Wallet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add a form to enter the amount -->
          <form id="addMoneyForm" style="display: flex;flex-direction: column; align-items: center;">
            <div class="form-group">
              <label for="amount">Amount:</label>
              <input type="number" class="form-control" id="amount" min="1" placeholder="Enter amount" required>
            </div>
            <button type="submit" class="btn btn-outline-primary-2" >Add</button>
        </form>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function addmoney() {
  
  $('#walletModal').modal('show');
}

document.getElementById('addMoneyForm').addEventListener('submit', function (event) {
  event.preventDefault(); 
  const amountValue = document.getElementById('amount').value;
  fetch('/addwalletmoney', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({amountValue }),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        razorpayPayment(data)
    })
    .catch(error => {
        console.error('Error:', error);
        
    });
  
  
});

function razorpayPayment(order)
{
    console.log(order)

    var options = {
    "key": "rzp_test_rhkvfmHNrTHBBX", // Enter the Key ID generated from the Dashboard
    "amount": (order.amount), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "AURA",
    "description": "Test Transaction",
    "image": "/assets/images/logo.jpg",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#ffffff"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
}

function verifyPayment(payment, order) {
   
    fetch(`/verify-payment?wallet=yes`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ payment, order }),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log(data.success)
        if (data.success == true) {
            // Show success alert
            Swal.fire({
                icon: 'success',
                title: 'Successful added money to your Wallet',
                showConfirmButton: false,
                timer: 1500,
            }).then(() => {
                // Redirect to '/orderplaced' after the alert
                window.location.href = `/wallet`;
            });
        } else {
            // Show error alert
            Swal.fire({
                icon: 'error',
                title: 'Payment has failed',
                showConfirmButton: false,
                timer: 1500,
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        // Show error alert in case of network or server error
        Swal.fire({
            icon: 'error',
            title: 'An error occurred',
            text: 'Please try again later.',
        });
    });
}

</script>

		<%- include('../layouts/footer') %>
		<%- include('../layouts/Login/LoginMob') %>
        