<%- include('../layouts/header') %>
<%- include('../layouts/Login/loginHeader') %>    
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content" id="load">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-9">
	                			<table class="table table-cart table-mobile" id="wishtoload">
									<thead>
										<tr>
											<th>Product</th>
											<th>Price</th>
											<th>Cart</th>
											<th></th>
											
										</tr>
									</thead>

									<tbody>
										<% if (b == 1) { %>
											<% let i = 1 %>
											<% userwish.Products.forEach(product => { %>
												<tr>
													<td class="product-col">
														<div class="product">
															<figure class="product-media">
																<a href="/productdetails?id=<%= product.products._id %>">
																	<img src="<%= (product.products.pictures[0].replace('public','')) %>" alt="Product image">
																</a>
															</figure>
															<h3 class="product-title">
																<a href="#"><%= product.products.name %></a>
															</h3><!-- End .product-title -->
														</div><!-- End .product -->
													</td>
													<td class="price-col">₹<%= product.price %></td>
													<td>
														<button class="btn btn-product btn-cart" id="cart<%= i %>" onclick="addtocart('<%= product.products.name %>','<%= email %>', <%= i %>)">
															Add to Cart
														</button>
													</td>
													<td class="remove-col" onclick="removeWishItem('<%= product.products.name %>','<%= email %>')">
														<button>
															<i class="icon-close"></i>
														</button>
													</td>
												</tr>
												<% i++ %>
											<% }); %>
										<% } else { %>
											<tr>
												<td colspan="5" class="text-center">
													Your Wishlist is empty.<%= checkmessage %>
												</td>
											</tr>
										<% } %>
									</tbody>
									
								</table><!-- End .table table-wishlist -->

	                			
	                		</div><!-- End .col-lg-9 -->
	                		                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

		<script>
			
		
	//to remove wishlist item
	function removeWishItem(prodname,email)
	{
		fetch(`/productremovefromwish?name=${prodname}&email=${email}`, {
            method: 'POST', // Use POST or PATCH for updating data
            headers: {
            'Content-Type': 'application/json',
             },
        
    }).then((response)=>{
		response.json()
	}).then((data)=>{
		
		$('#wishtoload').load('/wishlist #wishtoload')

	})
        
	}

	
	function addtocart(prodname,email,i)
            {
                const qtyValue = 1;
           console.log(i)
            fetch(`/productaddtocart?name=${prodname}&email=${email}&qtyValue=${qtyValue}`, {
            method: 'POST', // Use POST or PATCH for updating data
            headers: {
            'Content-Type': 'application/json',
             },
        
    }).then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            // You can handle the response if needed
            return response.json();
        })
        .then(data => {
            // Update the button text and class
            
           
            document.getElementById(`cart${i}`).textContent = 'Added to Cart';
            
            setTimeout(() => {
              document.getElementById(`cart${i}`).textContent = 'Add to Cart';
            
        }, 1000);
            
            
           
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

		</script>

<%- include('../layouts/footer') %>
<%- include('../layouts/Login/LoginMob') %>